beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
DateTime==4.3
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.10.6
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
python-Levenshtein==0.12.0
pytz==2020.1
requests==2.24.0
rfc3986==1.4.0
sniffio==1.2.0
soupsieve==2.0.1
statemachine==0.1
stop-words==2018.7.23
urllib3==1.25.10
zope.interface==5.1.2